function Main.main 5
push constant 0
push constant 0
call Vector.new 2
pop local 0
push constant 0
push constant 300
call Vector.new 2
pop local 1
push constant 300
push constant 0
call Vector.new 2
pop local 2
push constant 300
push constant 100
call Vector.new 2
pop local 3
push local 0
push local 1
push local 2
push local 3
call Spline.new 4
pop local 4
push local 4
call Spline.draw 1
pop temp 0
push constant 0
return
